* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&display=swap");
/* common css */
.container {
  max-width: 70%;
  margin: 20px auto;
  padding: 0 15px;
  border: 1px solid red;
}

/* nav css start here */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.navbar h2 {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navbar button {
  border-radius: 8px;
  border: 1px solid #006a50;
  padding: 15px 30px;
  color: #006a50;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* banner css starts here */
.banner {
  border: 1px solid green;
  background-color: #c6e4d6;
  margin-top: 20px;
  border-radius: 24px;
}
.banner-content {
  display: flex;
  gap: 64px;
  padding: 80px 100px;
  align-items: center;
}
.banner-text h4 {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.banner-text h2 {
  color: #0e0e0e;
  font-family: "Fira Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}
.banner-text button {
  padding: 17px 34px;
  border-radius: 8px;
  background: #006a50;
  border: none;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 24px;
}
.banner-text button:hover {
  background: rgba(161, 25, 25, 0.765);
}
.banner-text button a {
  text-decoration: none;
  color: #fff;
}
